.container {
  position: relative;
}

.game_image {
  display: block;
}

.add {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  aspect-ratio: 1/1;
  z-index: 1;
}

.game_image:hover {
  opacity: 0.5;
}

.add:hover .add_icon {
  visibility: visible;
}

.game_image:hover + .add > .add_icon {
  visibility: visible;
}

.add_icon:hover + .game_image {
  opacity: 0.5;
}
