:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --bg-header: #121212;
  --bg-footer: #1c1e22;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #121212;
  color: #aaa;
  font-family: var(--font-primary);
  /* font-size: 1.6rem; */
  line-height: 1.5;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

/* img {
  display: block;
} */

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.text-muted {
  color: #7a8288;
}

.title {
  font-family: var(--font-secondary);
  font-size: 2.7rem;
  font-weight: 600;
  text-shadow: -1px -1px 0 rgb(0 0 0 / 30%);
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 7px;
  color: #b6b6b6;
}

.text-center {
  text-align: center;
}

.css-1yjjitx-MuiSwitch-track {
  background-color: white !important;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #1976d2 !important;
}

.lighttheme {
  background-color: rgb(248, 247, 247);
}

.darktheme {
  background-color: rgba(22, 21, 21);
}
